.form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width:850px;
    margin: 20px;
    background-color: var(--sc-color-wh);
    border-radius: 10px;
    padding: 20px 20px 20px 50px;
    box-shadow: 3px 3px 10px var(--sh-color-grey);
    position: relative;
    z-index: 2;
}
.form::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: -5px -3px 10px var(--sh-color-blue);
    border-radius: 10px;
    z-index: -1;
}
.form__status{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    padding: 0px 20px 5px 20px;
    border-bottom: 1px solid var(--sc-color-grey-lg);
    &__icon{
        font-size: 2.5rem;
        color: var(--sc-color-blue);
        margin-bottom: 0;
    }
    &__ok{
        display: flex;
        justify-content: space-between;
        width: auto;
        background-color: var(--sc-color-blue);
        padding: 10px 10px;
        color: var(--sc-color-wh);
        border-radius: 5px;
        span{
            margin-right: 5px;
        }
    }
    &__error{
        display: flex;
        justify-content: space-between;
        width: auto;
        background-color: var(--sc-color-red);
        padding: 10px 10px;
        color: var(--sc-color-wh);
        border-radius: 5px;
        span{
            margin-right: 5px;
        }
    }
    &__none{
        display: flex;
        justify-content: space-between;
        width: auto;
        opacity: 0;
        padding: 10px 10px;
        
    }
}

.form__items{
    width: 90%;
    display: flex;
    flex-direction: column;
    &__lbl{
        display: flex;
        justify-content: space-between;
        margin: 5px 0px;

        label{
            color: var(--sc-color-dark);
            font-weight: 400;
        }
       
    }
    &__errors{
        display: flex;
        color: var(--sc-color-red);
        
        span{
            margin: 0px 5px;
        }
        p{
            font-weight: 400;
            font-size: 0.9rem;
            text-align: center;
        }
    }
}
.form__items--cl{
    width: 100%;
}
.form__items__input{
    height: 35px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid var(--sc-color-blue);
    padding-left: 5px;
    outline: none;
    background-color: var(--sc-color-wh);
    &:focus{
        border: 2px solid var(--sc-color-blue);
        box-shadow: 0 0 5px var(--sc-color-blue);
        transition: box-shadow 300ms ease-in-out;
    }
 
    &::placeholder{
        color: var(--sc-color-blue);
        padding-left: 5px;
    }
}
.form__items__lbl--cbox{
    width: 90%;
}
.form__items__lbl--textarea{
    height: 100%;
    max-height: 50px;
    min-height: 30px;
    resize: none;
}
.form__items__slct{
    border: none;
    height: 30px;
    border-bottom: 1px solid var(--sc-color-grey-lg);
    color: var(--sc-color-blue);
    background-color: var(--sc-color-wh);
    outline: none;
    option{
        color: var(--sc-color-blue);
        padding: 10px;
    }
}

.form-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%; 
    &__submit{
        width: 30%;
        height: 30px;
        margin: 15px 0px;
        border: none;
        border-radius: 15px;
        color: var(--sc-color-wh);
        box-shadow: 3px 3px 6px var(--sh-color-grey);
        background-color: var(--sc-color-blue);
    }
    &__loader{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: relative;
        &::after,&::before{
            content: '';
            position: absolute;
            border-radius: inherit;
        }
        &::before{
            width: 100%;
            height: 100%;
            background-image: linear-gradient(0deg, rgba(214,249,255,1) 22%, rgba(0,178,224,1) 73%);
        }
        &::after{
            width: 75%;
            height: 75%;
            background-color: var(--sc-color-wh);
            top: 12%;
            left: 12%;
        }
    }
    
}

